$background1: hsl(273, 75%, 66%);
$background2: hsl(240, 73%, 65%);

$bodyFont: 12px;

$textPrimary: hsl(237, 12%, 33%);
$textSecondary: hsl(240, 6%, 50%);

$dividers: hsl(240, 5%, 91%);

$dsdarkblue: hsl(238, 29%, 16%);
$softred: hsl(14, 88%, 65%);
